In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
weather_data = pd.read_csv('/Chennai_1990_2022_Madras.csv')

In [6]:
weather_data.head()

         time  tavg  tmin  tmax  prcp
0  01-01-1990  25.2  22.8  28.4   0.5
1  02-01-1990  24.9  21.7  29.1   0.0
2  03-01-1990  25.6  21.4  29.8   0.0
3  04-01-1990  25.7   NaN  28.7   0.0
4  05-01-1990  25.5  20.7  28.4   0.0

In [7]:
weather_data.describe()

               tavg         tmin          tmax         prcp
count  11867.000000  8810.000000  10875.000000  7008.000000
mean      28.490798    24.382770     33.908285     6.244378
std        2.605824     2.592423      3.380630    19.039751
min       20.900000    12.000000     23.800000     0.000000
25%       26.300000    22.600000     31.100000     0.000000
50%       28.700000    24.600000     34.000000     0.000000
75%       30.400000    26.400000     36.200000     3.000000
max       36.600000    31.000000     44.600000   344.900000

In [8]:
weather_data.isnull().sum()

time       0
tavg      27
tmin    3084
tmax    1019
prcp    4886
dtype: int64

In [9]:
weather_data.isnull().value_counts()

time   tavg   tmin   tmax   prcp
False  False  False  False  False    4906
                            True     3184
              True   False  False    1483
                            True     1302
              False  True   False     454
                            True      266
              True   True   False     165
                            True      107
       True   True   True   True       27
dtype: int64

In [10]:
weather_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11894 entries, 0 to 11893
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    11894 non-null  object
 1   tavg    11867 non-null  float64
 2   tmin    8810 non-null   float64
 3   tmax    10875 non-null  float64
 4   prcp    7008 non-null   float64
dtypes: float64(4), object(1)
memory usage: 464.7+ KB

In [11]:
for i in range(len(weather_data.columns)):
    if weather_data[weather_data.columns[i]].isnull().sum()!=0:
        weather_data[weather_data.columns[i]].fillna(weather_data[weather_data.columns[i]].value_counts().index.tolist()[1],inplace=True)

In [13]:
weather_data.isnull().sum()

time    0
tavg    0
tmin    0
tmax    0
prcp    0
dtype: int64

In [15]:
weather_data.dtypes

time     object
tavg    float64
tmin    float64
tmax    float64
prcp    float64
dtype: object

In [16]:
weather_data.time=pd.to_datetime(weather_data['time']).astype(int)/10**9

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: casting datetime64[ns] values to int64 with .astype(...) is deprecated and will raise in a future version. Use .view(...) instead.
  """Entry point for launching an IPython kernel.

In [14]:
from sklearn.model_selection import train_test_split

In [17]:
weather_data.head()

          time  tavg  tmin  tmax  prcp
0  631152000.0  25.2  22.8  28.4   0.5
1  633830400.0  24.9  21.7  29.1   0.0
2  636249600.0  25.6  21.4  29.8   0.0
3  638928000.0  25.7  26.0  28.7   0.0
4  641520000.0  25.5  20.7  28.4   0.0

In [19]:
X = weather_data.iloc[:,:-1]

In [21]:
y = weather_data.iloc[:,-1]

In [22]:
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.30,random_state = 42)

In [26]:
from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor(random_state = 42)
model_crct = model.fit(X,y)

In [27]:
score_train = model_crct.score(X_train,y_train)
score_test = model_crct.score(X_test,y_test)
print(score_train,score_test)

1.0 1.0

In [28]:
from sklearn import metrics
prediction=model_crct.predict(X_test)
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test,prediction ))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, prediction))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test,prediction)))

Mean Absolute Error: 0.0
Mean Squared Error: 0.0
Root Mean Squared Error: 0.0